.login_container {
    display: flex;
    /* border: 2px solid black; */
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.mid h1 {
    text-transform: uppercase;
    font-weight: 700;
    color: #0d4c92;
    letter-spacing: 2px;
    margin: 0;
}

.mid {
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 30%;
    padding: 1em;
    gap: 1em;
}

.mid p {
    margin: 0;
}

.mid form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.btn {
    width: 90%;
}

.input {
    width: 90%;
}

.link {
    color: blue;
}

p .link {
    text-decoration: underline;
    font-weight: 500;
}

.other_opption {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
    padding: 0.5em 0.9em;
    width: 90%;
    cursor: pointer;
}

.other_opption:hover {
    background-color: #e7e7e7;
}

.other_opption span {
    font-size: 1.02em;
    font-weight: 500;
}
