html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    /* width: 0.5em; */
    width: 0.4em;
    height: 100%;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    margin: 0.1em;
    border-radius: 0.5em;
    background-color: #0d4c92;
}

::-webkit-scrollbar-track {
    width: 0.5em;
    background-color: rgb(224, 224, 224);
}
